#game configuration
*.cfg

#possible lib archives
*.tar.*
*.zip

#editorproject files
.idea/
*.sublime
SpeedBlocks.props


#cmake and build artifacts
*.o
SpeedBlocks
Makefile*
CMakeCache.txt
CMakeFiles/
build/
/SpeedBlocks
/sfml

#mac shit
.DS_Store
